
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" asp-action="Index" asp-controller="Anasayfa"><ion-icon name="car-outline" style="color: #48d18c; margin-top:20px;"></ion-icon>Car<span>Book</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a asp-action="Index" asp-controller="Anasayfa" class="nav-link">Anasayfa</a></li>
                <li class="nav-item"><a asp-action="Kurumsal" asp-controller="Anasayfa" class="nav-link">Kurumsal</a></li>
                <li class="nav-item"><a asp-action="Index" asp-controller="Arabalar" class="nav-link">Araçlar</a></li>
                <li class="nav-item"><a asp-action="Iletisim" asp-controller="Anasayfa" class="nav-link">İletişim</a></li>
                @if (User.Identity!.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a asp-controller="Profil" asp-action="Index" class="nav-link"> Hoşgeldin &nbsp; @User.Identity.Name  </a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link text-decoration-none" asp-action="Index" asp-controller="Kiralama">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg>
                                Sepet [
                                @if (TempData["ToplamAdet"] != null)
                                {
                                    @TempData["ToplamAdet"]
                                }
                                ]
                            </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Logout" class="nav-link"> Çıkış  </a>
                    </li>

                }
                else
                {
                    <li class="nav-item"><a asp-action="Login" asp-controller="Account" class="nav-link">Üye Girişi</a></li>
                    <li class="nav-item"><a asp-action="Register" asp-controller="Account" class="nav-link">Kayıt Ol</a></li>
                }
                
            </ul>
        </div>
    </div>
</nav>