@{
    ViewData["Title"] = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/carbook-master/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs">
                    <span class="mr-2"><a asp-action="Index" asp-controller="Anasayfa">Anasayfa <i class="ion-ios-arrow-forward"></i></a></span> <span>
                        <a asp-action="Kurumsal" asp-controller="Anasayfa">Kurumsal</a> <i class="ion-ios-arrow-forward"></i>
                    </span>Hakkımızda
                </p>
                <h1 class="mb-3 bread">CARBOOK Hakkında</h1>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section contact-section">
    <div class="container">
        <em>
        <h1>HAKKIMIZDA</h1>
        <p>Yola çıkmak bir özgürlük duygusudur. CARBOOK Rent a Car olarak, bu özgürlüğü sizinle paylaşmaktan ve yolculuklarınızı unutulmaz kılmaktan büyük bir mutluluk duyuyoruz.</p>
        <p><b>Biz Kimiz?</b></p>
        <p>
        CARBOOK, araç kiralama sektöründe kalitesiyle ve müşteri memnuniyetine verdiği önemle bilinen bir markadır. Sunduğumuz geniş araç filosu ve esnek hizmet seçenekleriyle, her türden yolculuğunuzda yanınızda olmak için buradayız.
        </p>

        </em>
    </div>
</section>
