
@{
    ViewData["Title"] = "Kurumsal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/carbook-master/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
			<div class="col-md-9 ftco-animate pb-5">
				<p class="breadcrumbs"><span class="mr-2"><a asp-action="Index" asp-controller="Anasayfa">Anasayfa <i class="ion-ios-arrow-forward"></i></a></span> <span>Kurumsal
				<h1 class="mb-3 bread">CARBOOK Kurumsal</h1>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
			<h2><b><em>HAKKIMIZDA</em></b></h2>
			<hr />
			Yola çıkmak bir özgürlük duygusudur. CARBOOK Rent a Car olarak, bu özgürlüğü sizinle paylaşmaktan ve yolculuklarınızı unutulmaz kılmaktan büyük bir mutluluk duyuyoruz.<a asp-action="Hakkimizda" asp-controller="Anasayfa" class="btn btn-info">Devamı...</a>
		</div>
		<div class="row d-flex mb-5 contact-info">
			<h2><b><em>VİZYON ~ MİSYON</em></b></h2>
			<hr />
			CARBOOK Rent a Car olarak, geleceği şekillendiren bir güç olma vizyonuyla hareket ediyoruz. Müşterilerimize sadece araç kiralama değil, aynı zamanda güven, konfor ve mükemmel hizmet sunarak sektörde lider bir marka <a asp-action="Vizyon" asp-controller="Anasayfa" class="btn btn-info">Devamı...</a>
		</div>
		<div class="row d-flex mb-5 contact-info">
			<h2><b><em>İNSAN KAYNAKLARI POLİTİKASI</em></b></h2>
			<hr />
			Çalışanlarımız, CARBOOK ailesinin en değerli varlıklarıdır. İnsana yatırım yapmanın, başarıya giden yolun anahtarı olduğuna inanıyoruz. İnsan kaynakları politikamız, adil, açık ve destekleyici <a asp-action="IKPolitika" asp-controller="Anasayfa" class="btn btn-info">Devamı...</a>
		</div>
    </div>
</section>

