
@{
    ViewData["Title"] = "Vizyon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/carbook-master/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs">
                    <span class="mr-2"><a asp-action="Index" asp-controller="Anasayfa">Anasayfa <i class="ion-ios-arrow-forward"></i></a></span> <span>
                        <a asp-action="Kurumsal" asp-controller="Anasayfa">Kurumsal</a> <i class="ion-ios-arrow-forward"></i>
                    </span>Vizyon-Misyon
                </p>
                <h1 class="mb-3 bread">CARBOOK Vizyon ve Misyon</h1>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section contact-section">
    <div class="container">
        <em>
        <h1>VİZYONUMUZ VE MİSYONUMUZ</h1>
        <p>CARBOOK Rent a Car olarak, geleceği şekillendiren bir güç olma vizyonuyla hareket ediyoruz. Müşterilerimize sadece araç kiralama değil, aynı zamanda güven, konfor ve mükemmel hizmet sunarak sektörde lider bir marka olmayı hedefliyoruz. Yolculuklarınızda bizimle birlikte, memnuniyetin ötesinde bir deneyim yaşayacaksınız.</p>
        <p>Misyonumuz, müşteri odaklı bir yaklaşımla en kaliteli araç kiralama hizmetini sağlamak ve her bir müşterimizin beklentilerini aşmaktır. Sürdürülebilirlik ilkesine bağlı kalarak, etik değerlere önem veriyor, toplum ve çevre için sorumlu bir kuruluş olma amacını taşıyoruz. İnovasyon ve müşteri memnuniyetini esas alarak, sektörde öncü bir rol üstlenmek için sürekli gelişiyoruz.</p>
        </em>
    </div>
</section>
