@model ArabaDetayViewModel
@{
    ViewData["Title"] = "CreateDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="ibox-content">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Admin</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin/index">Admin</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Araba</strong>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Araba Detayını Ekle</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="col-md-12 mx-auto">
        <h4 class="tittle text-center">Yeni Araba</h4>
        <div class="login p-5 bg-light mx-auto mw-100">
            <form asp-action="CreateDetails" asp-controller="Arabalar" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Renk" class="control-label">Araba Rengi</label>
                    <input asp-for="Renk" class="form-control" />
                    <span asp-validation-for="Renk" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Yakıt" class="control-label">Araba Yakıt Türü</label>
                    <input asp-for="Yakıt" class="form-control" />
                    <span asp-validation-for="Yakıt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vites" class="control-label">Araba Vites Türü</label>
                    <input asp-for="Vites" type="text" class="form-control" />
                    <span asp-validation-for="Vites" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Km" class="control-label">Araba Kilometresi</label>
                    <input asp-for="Km" type="number" class="form-control" />
                    <span asp-validation-for="Km" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Aciklama" class="control-label">Araba Açıklaması</label>
                    <textarea asp-for="Aciklama" class="form-control"></textarea>
                    <span asp-validation-for="Aciklama" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Kaydet" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>
</div>


